body {
  margin: 0px;
  padding: 0px;
}
a{
  text-decoration:none;
  cursor: pointer;
  color: blue;
}
button{
	cursor: pointer;
}

#firstcontainer {
  width: 50%;
  margin-left: 15%;
}
h3 + h4 {
  margin-bottom: 2px;
}
button {
  background-color: rgb(98, 196, 98);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 3px 8px;
  position: absolute;
  margin-left: 3px;
}
button:hover {
  background-color: rgb(64, 144, 64);
}
#exer{

  display: none;
}

#flexer{
  display: flex;
  width: 70%;
  justify-content: space-between;
  margin-top: 10px;
}
#matchresults {
  width: 60%;
  height: 300px;
  border: 1px solid gray;
}
#matchresults > p {
  margin: 1px;
}
#matchresults > p:nth-child(even) {
  background-color: rgb(206, 206, 206);
}
#matchresults > p:hover {
  background-color: rgb(117, 117, 117);
}
#adder{
  border: 1px solid green;
  width: 37%;
}
#adder{
  text-align: center;
  display: none;
}
#adder h3{

  margin-bottom: 4px;
}
h3+p{
  margin-top: 0px;
  margin-bottom: 8px;
  color: red;
  font-weight: bold;
}
input+p{
  font-size: 10px;
}
p+button{
  display: flex;
  margin-left: 50px;
}
#adder input{
  border: 1px solid green;
  width: 40px;
}
#entry{
  color:green;
  display:none;
  margin-top:50px;
}
footer {
	width: 100%;
	margin-top: 48vh;
	padding-top: 20px;
	color: #0066ee;
	height: 80px;
	text-align: center;
	background-color: #e0e0e0;
	
}
footer span{
	cursor: pointer;
}
footer>p:first-child{
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: space-around;
}