h3{
  margin: 0px;
  padding: 0px;
}
a{
	text-decoration:none;
  cursor: pointer;
  color: blue;
}
button{
	cursor: pointer;
}
#diary{
  display: flex;
  gap: 10px;
  font-size: 18px;
  justify-content: center;
  align-items: center;;
}

.fa-caret-left, .fa-caret-right{
  cursor:  pointer;
  margin: 0px 10px;
  color: yellow;
}

#firstcontainer {
  margin: auto;
  margin-top: 10px;
  width: 80%;
}
#addData > h3 {
  margin: 0px;
}
#date {
  text-transform: uppercase;
}

#datefield {
  background-color: #0074c1;
  color: white;
  padding: 3px 8px;
}
hr {
  height: 1px;
  color: grey;
  background-color: rgb(180, 179, 179);
}
table{
  width: 100%;
}
table th {
  background-color: #00548b;
  color: rgb(255, 255, 255);
  padding: 0px 20px;
}
a {
  text-decoration: none;
}
table > thead {
  background-color: #00548b;
}

table thead tr td {
  color: white;
  padding: 0px 20px;
}
table thead tr td:first-child {
  background-color: white;
  padding-right: 250px;
  padding-left: 0px;
  color: #00548b;
}
#exercisebody{
  text-align: center;
}
#exercisebody tr>td:first-child{
  text-align: left;
  margin: 0px;
  padding: 0px;
}
#exercisebody tr:nth-child(odd){
  background-color: #637fa3;
}
#exercisebody tr:nth-child(even){
  background-color: #b2cef1;
}
#exercisebody tr{
  text-transform: uppercase;
}
.goal {
  color: #00548b;
}


button {
  
  background-color: rgb(98, 196, 98);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 3px 8px;
  position: absolute;
  cursor: pointer;
}

button:hover{
    background-color: rgb(64, 144, 64);
    
}

#closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  width: max-content;
}


#datafetcher {
  display: none;
  padding: 20px;
  width: 40%;
  margin: auto;
  height: 150px;
  background-color: #e0e0e0;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
#datafetcher input {
  display: block;
  width: 95%;
}
#datafetcher p {
  display: block;
  width: 95%;
  margin: 10px 0px;

  padding: 0px;
}
#datafetcher button {
  display: block;
  margin: 0px;
}

footer {
	width: 100%;
	margin-top: 25vh;
	padding-top: 20px;
	color: #0066ee;
	height: 80px;
	text-align: center;
	background-color: #e0e0e0;
	
}
footer span{
	cursor: pointer;
}
footer>p:first-child{
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: space-around;
}
@media screen and (min-width: 600px) and (max-width: 900px) {
  #firstcontainer {
    width: 90%;
  }
  table thead tr td:first-child{
    padding-right: 130px;
  }
  footer {
    background-color: #e0e0e0;
    height: fit-content;
    margin-top: 22.5vh;
  }
  footer > div {
    display: flex;
    padding: 10px;
    /* flex-direction: column; */
  }
  footer #left_container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
  }
  footer #right_container {
    display: flex;
    margin: auto;
    justify-content: center;
  }
  footer #languages {
    width: 80%;
  }
}
@media screen and (max-width: 600px) {
  table thead tr td:first-child{
    padding-right: 0px;
  }

  #datafetcher {
    width: 60%;
  }
  #diary{
    font-size: 14px;
  }
  footer {
    background-color: #e0e0e0;
    height: fit-content;
    margin-top: 22.5vh;
  }
  footer > div {
    display: flex;
    padding: 10px;
    /* flex-direction: column; */
  }
  footer #left_container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
  }
  footer #right_container {
    display: flex;
    margin: auto;
    justify-content: center;
  }
  footer #languages {
    width: 80%;
  }
}