body {
	margin: 0px;
	padding: 0px;
}
a{
	text-decoration:none;
}
#navtop {
	display: flex;
	height: 80px;
	width: 70%;
	margin: auto;
	justify-content: space-between;
	padding: 10px 10px 0px 10px;
}
#topleft {
	width: 50%;
	
}
#topleft img {
	width: 40%;
}
#topright {
	width: 70%;
	display: flex;

	justify-content: space-evenly;
	align-items: center;
}
#topright p {
  font-size: 14px;
}
#topright p:nth-child(3) {
  color: grey;
}
#topright p:nth-child(4) {
  color: red;
}
#topright p:nth-child(5) {
  color: grey;
}
#topright p:nth-child(6) {
  color: grey;
}
#topright p:nth-child(11) {
  color: blue;
}
#topright p:nth-child(12) {
  color: blue;
}
#navmiddle {
  margin-top: 10px;
  width: 100%;
  background-color: #0066ee;
  height: 40px;
}
#navmiddle div {
  display: flex;
  margin-left: 14%;
}
#navmiddle > div a {
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding: 12px 18px;
  text-decoration: none;
}
#navmiddle > div a:hover {
  background-color: #00548b;
  height: 20px;
  padding: 12px 18px;
}
#navbottom {
  width: 100%;
  background-color: #00548b;

  height: 40px;
}
#navbottom > div {
  display: flex;
  margin-left: 14%;
}
#navbottom div a {
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding: 12px 18px;
  text-decoration: none;
}
#firstcontainer {
  width: 50%;
  margin-left: 15%;
}
#addData > h3 {
  margin: 0px;
}
#date {
  text-transform: uppercase;
}

#datefield {
  background-color: #00548b;
  color: white;
  padding: 3px 8px;
}
hr {
  height: 1px;
  color: grey;
  background-color: rgb(180, 179, 179);
}
/* #firstcontainer>div:nth-child(3){
    display: flex;
    justify-content: space-between;

} */
table th {
  background-color: #00548b;
  color: rgb(255, 255, 255);
  padding: 0px 20px;
}
a {
  text-decoration: none;
}
table > thead {
  background-color: #00548b;
}

table thead tr td {
  color: white;
  padding: 0px 20px;
}
table thead tr td:first-child {
  background-color: white;
  padding-right: 250px;
  padding-left: 0px;
  color: #00548b;
}
#exercisebody{
  text-align: center;
}
#exercisebody tr>td:first-child{
  text-align: left;
  margin: 0px;
  padding: 0px;
}
#exercisebody tr:nth-child(odd){
  background-color: #637fa3;
}
#exercisebody tr:nth-child(even){
  background-color: #b2cef1;
}
#exercisebody tr{
  text-transform: uppercase;
}
.goal {
  color: #00548b;
}
.sapace {
  padding-left: 200px;
}
table tr td {
  padding: 0px 20px;
}

button{
    margin-top: 10px;
    background-color: rgb(98,196,98);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 1px 10px;
    position: absolute;
    left: 32%;
    transform: translate(-50);
}
button:hover{
    background-color: rgb(64, 144, 64);
    
}
#footer {
	width: 100%;
	margin-top: 170px;
	display: flex;
	height: 100px;
	text-align: center;
	background-color: #e0e0e0;
	justify-content: space-between;
}
#footer div:nth-child(1) {
	width: 60%;
	display: flex;
	/* margin-left: 150px; */
	margin: auto;
	margin-top: 20px;
	text-align: center;
	justify-content: space-between;
}
#footer div:nth-child(1) p {
	color: #0066ee;
	font-size: 12px;
}
#footer div:nth-child(2) {
	width: 15%;
	margin-top: 30px;
}
#copyright {
	text-align: center;
	margin-top: -40px;
	font-size: 12px;
	color: grey;
}