body {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: blue;
}
#mainbody {
  width: 70%;
  margin: auto;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  background-color: #f6f6f6;
}
#mainbody_header {
  width: 100%;
}
#mainheader {
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #00548b;
  color: white;
}
#mainheader div {
  margin-top: -5px;
}
#mainheader_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#mainheader_right div p {
  font-size: 12px;
}

#profileSummary {
  display: flex;
  background-color: #f6f6f6;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
#profileImage {
  width: 100%;
}
#image {
  text-align: center;
  width: 20%;
  background-color: #e6e6e6;
  margin: 10px;
  padding: 10px;
  height: max-content;
  border: 1px solid;
}
button {
  border: none;
  color: rgb(255, 255, 255);
  background-color: #6c5757;
  padding: 5px 10px;
  border-radius: 6px;
  overflow-x: visible;
  text-align: center;
}
button:hover {
  background-color: grey;
}
#caloriesSummary {
  width: 80%;
  padding: 10px;
}
#caloriesSummary > p {
  margin: 0px;
  padding: 0px;
}
#calories div {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-evenly;
  color: #85c400;
  height: max-content;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
h1 {
  margin: 0px;
  padding: 0px;
}

#formula {
  display: flex;
  justify-content: space-between;
}
#formula div {
  width: 20%;
}
#formula div p:first-child {
  font-size: 12px;
  margin: 0px;
  padding: 0px;
}
#formula div p:last-child {
  font-size: 25px;
  margin: 0px;
  padding: 0px;
}
#formula hr {
  height: 50px;
  margin-top: 5px;
  margin-right: 10px;
}
#verify {
  display: flex;
  justify-content: space-around;
  border: 1px solid #fcdab0;
  margin-top: 10px;
  padding: 10px;
}

#verify :last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#verify div h3 {
  color: #0a5282;
  margin: 0px;
  padding: 0px;
}
p {
  margin: 0px;
  padding: 0px;
}

#invite {
  background-color: #e6e6e6;
  margin-top: 10px;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  border: 1px solid #e0e0e0;
}
#invite p:nth-child(1) {
  font-weight: bold;
  font-size: 20px;
}
#invite a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
footer {
  width: 100%;
  margin-top: 2vh;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #0066ee;
  height: fit-content;
  text-align: center;
  background-color: #e0e0e0;
}
footer span {
  cursor: pointer;
}
footer #left_container {
  display: flex;
  justify-content: space-evenly;
}
span:hover {
  cursor: pointer;
}
select {
  width: 100px;
}
@media screen and (max-width: 571px) {
  #mainbody {
    width: 90%;
  }
  #profileSummary {
    flex-direction: column;
  }
  #image{
    width: 90%;
  }
  #calories div {
    flex-direction: column;
  }
  #caloriesSummary > p {
    text-align: center;
  }
  #formula {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #formula div {
    width: 100% !important;
    text-align: center;
  }
  #formula hr {
    display: none;
  }
  #formula div:nth-child(4),
  #formula div:nth-child(6) {
    display: none;
  }
  #verify{
    flex-direction: column;
  }
  footer {
    background-color: #e0e0e0;
    height: fit-content;
  }
  footer > div {
    display: flex;
    padding: 10px;
    /* flex-direction: column; */
  }
  footer #left_container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
  }
  footer #right_container {
    display: flex;
    margin: auto;
    justify-content: center;
  }
  footer #languages {
    width: 80%;
  }
}

@media screen and (min-width: 571px) and (max-width: 900px) {
  #mainbody {
    width: 90%;
  }
}
