body{
    margin:0;
    box-sizing: border-box;
}
*{
    box-sizing: border-box;

}
#nav{
    display:flex;
    justify-content:space-around;
    margin: auto;
    height:100px;
    align-items:center;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
#navbar li{
    list-style:none;
    color:#0066EE;
    cursor:pointer;
    font-family:Inter,Helvetica,Arial,-apple-system ;
   
}
#logIn{
    display:none
}
#nav img{
    cursor: pointer;
    width:150px;
}

h1{
    font-size:20px;
    color:#000000DE;
    font-family:Inter,Helvetica,Arial,-apple-system ;
    text-align:center;
}

#login{
    width:28%;
    margin:auto;
    margin-top:40px;
    font-family:Inter,Helvetica,Arial,-apple-system ;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius:15px;
    padding:2rem;
}

form input{
    width:80%;
    height:50px;
    margin:0px 30px;
    margin-top:20px;
    margin-right:33px;
    border-radius:5px;
    border:1px solid grey;
    padding:0px 15px;
}
input:hover{
    border:#005977 1px solid;
    height:50px;
    cursor:pointer;
}
form p{
    color:#0066EE;
    margin-left:30px;
    font-family:Inter,Helvetica,Arial,-apple-system ;
    font-weight:bold;
   
}

h3{
   text-align:center;
   font-size:16px;
   font-family:Inter,Helvetica,Arial,-apple-system ;
}

button{
    width:80%;
    height:48px;
    border-radius:4px;
    background-color:#0066EE;
    color:white;
    border:none;
    margin-left:30px;
    cursor: pointer;
    font-size:15px;
    margin-top:20px;
    font-family:Inter,Helvetica,Arial,-apple-system ;
      font-weight:bold;
}


button:hover{
    background-color:#0046a1;
}
h2{
    color:#00000099;
    font-family:Inter,Helvetica,Arial,-apple-system ;
    font-size:14px;
    text-align:center;
}
h2>span{
    color:#0066EE;
    font-family:Inter,Helvetica,Arial,-apple-system ;
    font-size:14px;

}

#bottom>a>div{
    display:grid;
}

input:hover{
    border-color:#227251;
    border:2px solid #227251;
}
#footer{
    width:100%;
    height: 100px;
    background-color:rgb(236, 235, 235);
    margin-top:30px;
    align-items:center;
   padding-top:20px;
}
#footer>p{
    text-align:center;
    font-size:12px;
    color:#0066EE;
    padding:8px
}
#footer p:nth-child(2){
    color:#000000DE;
    font-size:11px;
}
p>span{
    padding:10px;
}
span:hover{
    cursor:pointer;
}
select{
    width:100px;
}
a{
    text-decoration-line: none;
}
.spinner {
    border: 4px solid gray;
    border-top: 4px solid #0066EE;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 0.65s linear infinite;
    margin:auto;
    display: none; /* Initially hide the spinner */
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

@media screen and (max-width: 570px) {
    #login{
        width:95%;
        margin-top:10%;
        box-shadow: none; 
        padding:0;
    } 
    #nav img{
        width: 100px;
    }
   #footer{
    display:none;
   }
}

@media screen and (min-width:571px) and (max-width: 900px){
    #login{
        width:25rem;      
    }

   
}
@media screen and (min-width:900px) and (max-width: 1200px){
    #login{
        width:25rem;      
    }
    #login a{
        width:90%;
    }
    
   
}


