body{
    margin:0;
    position:relative;
}
*{
    font-family:Inter,Helvetica,Arial,-apple-system ;
}
#nav{
    display:flex;
    justify-content:space-around;
    height:100px;
    align-items:center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
#nav a{
    text-decoration-line: none;
}
#nav>div:nth-child(2){
    display:flex;
    list-style:none;
    gap:10px;   
}
#nav li{
    color:#0066EE;
    cursor:pointer;
    font-size:18.4px;    
}
#nav span{
    color:grey
}
#nav img{
    width:40%;
}
#weight{
    width:28%;
    margin:auto;
    margin-top:40px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border-radius:15px;
    height:420px;
    padding:2rem;
    position:relative
}

progress{
    width:100%;
    position:absolute;
    top:0;
    left:0;
    background-color: rgb(200, 194, 194);
    height:10px
}
progress::-webkit-progress-value {
    background-color: #0066EE; /* Blue color for WebKit browsers (Chrome, Safari) */
    border-radius:30px
}
  
  progress::-moz-progress-bar {
    background-color: #0066EE; /* Blue color for Firefox */
    border-radius:30px
}

h2{
    text-align:center;
    margin-bottom:50px;
    font-size:20px;
}
p{
    text-align:center;
}
#weight>button{
    width:88%;
    height:56px;
    border-radius:4px;
    border:solid 2px rgb(192, 184, 184);
    margin-left:30px;
    Background-color:#FFFFFF;
    color:#111010b9;
    cursor: pointer;
    font-size:16px;
    margin-top:5px;
    font-weight:bold;
}
#weight>button:hover{
 border-color:rgb(115, 112, 112)
}

#back{
    display:flex;
    justify-content:space-around;  
    margin-top:4rem;  
}
#back button{
     padding:0.8rem 3rem;
     border-radius:4px;
     border:solid 1px grey;
     Background-color:#FFFFFF;
     color:#111010b9;
     cursor: pointer;
     font-size:16px;
     font-weight:bold;
}
#back>div:nth-child(2) button{
    background-color:#0066EE;
    color:white;
    font-weight:bold;

}
#back>div button:hover{
    background-color:#0046a1;
}
#back div:nth-child(1) button{
    border:2px solid #0066EE;
    color:#0066EE;
}
#back div:nth-child(1):hover button{
    background-color:rgba(242, 239, 239, 0.597);
}

@media screen and (max-width: 570px) {
    #weight{
        width:95%;
        margin-top:0%;
        box-shadow: none; 
        padding:0; 
    }
    progress{
        width:100%;
        position:relative;
        margin:0;
        background-color: rgb(200, 194, 194);
        height:15px
    }
    progress+h2{
        margin-top:35%;
    }
    
}

@media screen and (min-width:571px) and (max-width: 900px){
    #weight{
        width:25rem;      
    }
   
}
@media screen and (min-width:900px) and (max-width: 1200px){
    #weight{
        width:25rem;      
    }
    
   
}


/* #back{
    margin-top:70px;
    width:100%;
    border:1px solid red;
}
#back button{
    width:180px;
    height:48px;
    margin:auto;
    Background-color:#FFFFFF;
    color:#111010b9;
    cursor: pointer;
    font-size:16px;
    font-weight:bold;
    margin:3px 12px
}
#back button{
    width:180px;
    height:48px;
    border-radius:4px;
    border:solid 1px grey;
    margin-left:60px;
    Background-color:#FFFFFF;
    color:#111010b9;
    cursor: pointer;
    font-size:16px;
    font-weight:bold;
}
#back>button{
    margin-left:15px;
    background-color:#0066EE;
    color:white;
    font-weight:bold;
}  */