body {
  margin: 0px;
  padding: 0px;
}

#navtop {
  display: flex;
  height: 80px;
  width: 70%;
  margin: auto;
  justify-content: space-between;
  padding: 10px 10px 0px 10px;
}
#topleft {
  width: 50%;
}
#topleft img {
  width: 40%;
}
#topright {
  width: 70%;
  display: flex;

  justify-content: space-evenly;
  align-items: center;
}
#topright p {
  font-size: 14px;
}
#topright p:nth-child(3) {
  color: grey;
}
#topright p:nth-child(4) {
  color: red;
}
#topright p:nth-child(5) {
  color: grey;
}
#topright p:nth-child(6) {
  color: grey;
}
#topright p:nth-child(11) {
  color: blue;
}
#topright p:nth-child(12) {
  color: blue;
}
#navmiddle {
  margin-top: 10px;
  width: 100%;
  background-color: #0066ee;
  height: 40px;
}
#navmiddle div {
  display: flex;
  margin-left: 14%;
}
#navmiddle > div a {
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding: 12px 18px;
  text-decoration: none;
}
#navmiddle > div a:hover {
  background-color: #00548b;
  height: 20px;
  padding: 12px 18px;
}
#navbottom {
  width: 100%;
  background-color: #00548b;

  height: 40px;
}
#navbottom > div {
  display: flex;
  margin-left: 14%;
}
#navbottom div a {
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding: 12px 18px;
  text-decoration: none;
}
#firstcontainer {
  width: 50%;
  margin-left: 15%;
}
h3 + h4 {
  margin-bottom: 2px;
}

button {
  background-color: rgb(98, 196, 98);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 3px 8px;
  position: absolute;
  margin-left: 3px;
}
button:hover {
  background-color: rgb(64, 144, 64);
}


#exer{

  display: none;
}

#flexer{
  display: flex;
  width: 70%;
  justify-content: space-between;
  margin-top: 10px;
}
#matchresults {
  width: 60%;
  height: 300px;
  border: 1px solid gray;
}
#matchresults > p {
  margin: 1px;
}
#matchresults > p:nth-child(even) {
  background-color: rgb(206, 206, 206);
}
#matchresults > p:hover {
  background-color: rgb(117, 117, 117);
}
#adder{
  border: 1px solid green;
  width: 37%;
}
#adder{
  text-align: center;
  display: none;
}
#adder h3{

  margin-bottom: 4px;
}
h3+p{
  margin-top: 0px;
  margin-bottom: 8px;
  color: red;
  font-weight: bold;
}
input+p{
  font-size: 10px;
}
p+button{
  display: flex;
  margin-left: 50px;
}
#adder input{
  border: 1px solid green;
  width: 40px;
}
#entry{
  color:green;
  display:none;
  margin-top:50px;
}
#footer {
  width: 100%;
  margin-top: 150px;
  display: flex;
  height: 100px;
  text-align: center;
  background-color: #e0e0e0;
  justify-content: space-between;
}
#footer div:nth-child(1) {
  width: 60%;
  display: flex;
  /* margin-left: 150px; */
  margin: auto;
  margin-top: 20px;
  text-align: center;
  justify-content: space-between;
}
#footer div:nth-child(1) p {
  color: #0066ee;
  font-size: 12px;
}
#footer div:nth-child(2) {
  width: 15%;
  margin-top: 30px;
}
#copyright {
  text-align: center;
  margin-top: -40px;
  font-size: 12px;
  color: grey;
}
