body{
    margin:0
}
#nav{
    display:flex;
    justify-content:space-around;
    height:100px;
    align-items:center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;   
}
#nav a{
    text-decoration-line: none;
}
#nav>div:nth-child(2){
    display:flex;
    list-style:none;
    gap:10px;   
}
#nav li{
    color:#0066EE;
    cursor:pointer;
    font-family:Inter,Helvetica,Arial,-apple-system ;
    font-size:18.4px; 
}
#nav span{
    color:grey
}
#nav img{
    width:40%;
}
#goal{
    width:25%;
    margin:auto;
    margin-top:40px;
    font-family:Inter,Helvetica,Arial,-apple-system ;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border-radius:15px;
    height:540px;
    padding:2% 5%;
}


h2{
    font-size:20px;
    font-family:Inter,Helvetica,Arial,-apple-system ;
    color:#000000DE;

}
#goal>p{
    width:105%;
    color:#00000099;
    text-align:center;
    margin-left:-5px;
    line-height:20px;
}
#go{
    margin-top:40px;
}
#go>div{
    width:100%;
    height:55px;
    border:solid 2px rgb(209, 194, 194);
    margin-top:8px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:5px;
}
#go>div:hover{
    border:solid 2px rgb(155, 144, 144);
}

#back{
    display:flex;
    margin-top:80px;
    width:100%;
    margin-left:10px;
}
#back button{
    width:180px;
    height:48px;
    border-radius:4px;
    border:solid 1px grey;
    
    Background-color:#FFFFFF;
    color:#111010b9;
    cursor: pointer;
    font-size:16px;
    font-family:Inter,Helvetica,Arial,-apple-system ;
    font-weight:bold;
}
#back a:nth-child(2) button{
    margin-left:15px;
    background-color:#0066EE;
    color:white;
    font-weight:bold;
}
#back a:nth-child(2):hover button{
    background-color:#0046a1;
}
#back a:nth-child(1) button{
    border:2px solid #0066EE;
    color:#0066EE;
}
#back a:nth-child(1):hover button{
    background-color:rgba(242, 239, 239, 0.597);
}

