body{
    margin:0
}
#nav{
    display:flex;
    justify-content:space-around;
    height:100px;
    align-items:center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;   
}
#nav a{
    text-decoration-line: none;
}
#nav>div:nth-child(2){
    display:flex;
    list-style:none;
    gap:10px;   
}
#nav li{
    color:#0066EE;
    cursor:pointer;
    font-family:Inter,Helvetica,Arial,-apple-system ;
    font-size:18.4px; 
}
#nav span{
    color:grey
}
#nav img{
    width:40%;
}
#height{
    width:25rem;
    margin:auto;
    margin-top:40px;
    font-family:Inter,Helvetica,Arial,-apple-system ;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border-radius:15px;
    padding:2rem;
    position:relative;
}
progress{
    width:100%;
    position:absolute;
    top:0;
    left:0;
    background-color: rgb(200, 194, 194);
    height:10px
    
}
progress::-webkit-progress-value {
    background-color: #0066EE; /* Blue color for WebKit browsers (Chrome, Safari) */
    border-radius:30px
}
  
  progress::-moz-progress-bar {
    background-color: #0066EE; /* Blue color for Firefox */
    border-radius:30px
}
h2{
    font-family:Inter,Helvetica,Arial,-apple-system ;
    color:#000000DE;
    font-size:20px;
    font-weight:bold;
    
}

#feet{
    margin-top:-5px;
    margin-bottom:10px;
}
#feet >input{
    padding:5% 2%; 
    color:#111010b9;
    cursor: pointer;
    border:solid 1px rgb(212, 196, 196);   
    border-radius:5px;
}
#feet>input:hover{
    border:1px solid rgb(115, 112, 112)
}
#feet>input:nth-child(2){
    margin-left:1.5%

}
span{
    color:#0066EE;
    font-family:Inter,Helvetica,Arial,-apple-system ;
    font-size:16px;
    cursor:pointer;
}
#height>div:nth-child(2){
    margin-top:40px;
}

p{
    color:#00000099;
    margin-top:-8px; 
    font-family:Inter,Helvetica,Arial,-apple-system ;
    font-size:14px;

}
#height>div:nth-child(3){
    margin-top:40px;
}

#back{
    display:flex;
    justify-content:space-around;  
    margin-top:2rem;  
}
#back button{
     padding:0.8rem 3rem;
     border-radius:4px;
     border:solid 1px grey;
     Background-color:#FFFFFF;
     color:#111010b9;
     cursor: pointer;
     font-size:16px;
     font-weight:bold;
}
#back>div:nth-child(2) button{
    background-color:#0066EE;
    color:white;
    font-weight:bold;

}
#back>div button:hover{
    background-color:#0046a1;
}
#back div:nth-child(1) button{
    border:2px solid #0066EE;
    color:#0066EE;
}
#back div:nth-child(1):hover button{
    background-color:rgba(242, 239, 239, 0.597);
}

@media screen and (max-width: 570px) {
    #height{
        width:95%;
        margin-top:0%;
        box-shadow: none; 
        padding:0  
    }    
    #feet >input{
        padding:3% 1%; 
        color:#111010b9;
        cursor: pointer;
        border:solid 1px rgb(212, 196, 196);   
        border-radius:5px;
    }
    #feet>input:nth-child(2){
        margin-left:0.7%
    
    }
    progress{
        width:100%;
        position:relative;
        margin:0;
        background-color: rgb(200, 194, 194);
        height:15px    
    }
    progress+div{
        margin-top:10%;
    }
    
}

@media screen and (min-width:571px) and (max-width: 900px){
    #height{
        width:25rem;      
    }
   
}
@media screen and (min-width:900px) and (max-width: 1200px){
    #height{
        width:25rem;      
    }
    
   
}
