body{
	margin: 0px;
	padding: 0px;
}

#navtop {
	display: flex;
	height: 110px;
	border: 1px solid red;
	width: 70%;
	margin: auto;
	justify-content: space-between;
	padding: 10px 10px 0px 10px;
}
#topleft {
	width: 20%;
	
	/* border: 1px solid blue; */
}
#topleft img {
	width: 80px;
	height: 80px;
	padding: 10px;
	border: 1px solid;
}
#topright {
	width: 70%;
	height: 100px;
	display: flex;
	border: 1px solid green;
	justify-content: space-evenly;
	align-items: center;
}
#topright p {
	font-size: 14px;
}
#topright p:nth-child(3) {
	color: grey;
}
#topright p:nth-child(4) {
	color: red;
}
#topright p:nth-child(5) {
	color: grey;
}
#topright p:nth-child(6) {
	color: grey;
}
#topright p:nth-child(11) {
	color: blue;
}
#topright p:nth-child(12) {
	color: blue;
}
#navmiddle {
	margin-top: 10px;
	width: 100%;
	background-color: #0066ee;
	height: 40px;
}
#navmiddle div {
	
	display: flex;
	margin-left: 14%;

}
#navmiddle > div a {
	color: white;
	font-size: 15px;
	font-weight: bold;
	padding: 12px 18px;
	text-decoration: none;
}
#navmiddle > div a:hover {
	background-color: #00548b;
	height: 20px;
	padding: 12px 18px;
}
#navbottom {
	
	width: 100%;
	background-color: #00548b;

	height: 40px;
}
#navbottom > div {
	display: flex;
	margin-left: 14%;
	
}
#navbottom div a {
	color: white;
	font-size: 15px;
	font-weight: bold;
	padding: 12px 18px;
	text-decoration: none;
}
#mainbody {
	width: 70%;
	margin: auto;
	border: 1px solid red;
	height: 200px;
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	background-color: #f6f6f6;
}
#mainbody_header {
	width: 100%;
}
#mainheader {
	width: 98%;
	display: flex;
	justify-content: space-between;
	border: 1px solid blue;
	height: 45px;
	background-color: #00548b;
	color: white;
}
#mainheader div {
	margin-top: -5px;
}
#mainheader_right {
	display: flex;
	justify-content: space-between;
}
#mainheader_right {
	width: 10%;
	border: 1px solid green;
	margin-right: 10px;
}
#mainheader_right div p {
	font-size: 12px;
}
#mainheader_right div p + p {
	margin-top: -5px;
}
#sidecolumn {
	width: 28%;
	border: 1px solid purple;
	height: 200px;
	background-color: white;
}
#image {
	width: 120px;
	height: 120px;
	border: 1px solid;
	background-color: #e6e6e6;
	margin: 10px;
	padding: 10px;
}
#image p {
	color: grey;
}
#image button {
	border: none;
	color: blue;
	margin-top: 30px;
	background-color: #e6e6e6;
}
