body {
  margin: 0px;
  padding: 0px;
}
* {
  font-family: Arial, Helvetica, sans-serif;
}
#navbar {
  width: 70%;
  margin: auto;
  height: 100px;
  border-bottom: 1px solid rgb(241, 240, 240);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a{
  text-decoration:none;
}

#navbar img {
  width: 40%;
}
#goodhealth {
  width: 70%;
  border: 0px solid rgb(245, 244, 244);
  display: flex;
  margin: auto;
  margin-top: 2%;
}
#goodhealth > div {
  border: 0px solid rgb(226, 224, 224);
  width: 100%;
  height: 100%;
}


#goodhealth > #leftgoodhealth > h1 {
  font-size: 4rem;
}
#goodhealth > #leftgoodhealth > p {
  line-height: 1.5rem;
  width: 80%;
}
#goodhealth > #leftgoodhealth > button {
  border: 0px;
  background-color: #0066ee;
  font-size: 20px;
  color: white;
  width: 60%;
  height: 50px;
  border-radius: 5px;
  font-weight: bold;
}
#goodhealth > #leftgoodhealth > button > a {
  text-decoration: none;
  color: white;
}

#blueberries {
  width: 80%;
  border: 0px solid rgb(241, 239, 239);
  display: flex;
  margin: auto;
  margin-top: 8%;
}
#blueberries > div {
  border: 0px solid rgb(245, 244, 244);
  width: 100%;
}
#blueberries > #blueberriesright > h1 {
  font-size: 4rem;
}
#blueberries > #blueberriesright > p {
  line-height: 1.5rem;
  width: 80%;
}
#blueberries > div > img {
  width: 90%;
}

#tools {
  margin: auto;
  width: 40%;
  text-align: center;
  border: 0px solid rgb(235, 233, 233);
}
#tools > h1 {
  font-size: 2.6rem;
  font-weight: bolder;
}
#tools > p {
  line-height: 1.4rem;
}
#learn {
  display: flex;
  width: 80%;
  height: 250px;
  margin: auto;
  margin-top: 10%;
  text-align: center;
}
#learn > div {
  width: 80%;
  margin: auto;
}
#learn > div > img {
  border-radius: 20px;
  border: 1px solid grey;
}
#victory {
  text-align: center;
  width: 40%;
  margin: auto;
  height: 70px;
  margin-top: 5%;
  margin-bottom: 10%;
}
#victory > h1 {
  font-size: 3rem;
}
#victory > p {
  line-height: 22px;
}
.swiper {
  width: 950px;
  height: 500px;
  /* border: 1px solid green; */
}
.swiper-wrapper{
  padding:0px 50px;
  
}
.flexxxer{
  
  display: flex;
  margin: auto;
  
}
.flexxxer>div{
  
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 43%;
}
.flexxxer>div img{
  width: 100%;
}
q+p{
  margin-left: 70%;
  
}

#startbutton {
  border: 0px;
  background-color: #0066ee;
  font-size: 20px;
  color: white;
  width: 30%;
  height: 50px;
  border-radius: 5px;
  font-weight: bold;
  margin-left: 35%;
  margin-top: 5%;
}
#startbutton > button:hover {
  cursor: pointer;
  background-color: #042cdf;
}
#startbutton > a {
  text-decoration: none;
  color: white;
}
#startbutton > a:hover {
  cursor: pointer;
  background-color: #042cdf;
}

#recipes {
  width: 60%;
  text-align: center;
  margin: auto;
  margin-top: 8%;
}
#recipes > h1 {
  font-size: 3rem;
}
#recipes > p {
  font-size: 20px;
  line-height: 22px;
}
#rece {
  width: 70%;
  margin: auto;
  margin-top: 8%;
  display: flex;
  gap:1rem
}
#rece > div {
  width: 32%;
  margin: auto;
  border-radius: 10px;
  padding:2%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#rece > div > a {
  text-decoration: none;
  color: black;
}
#rece > div > a > h3 {
  margin-left: 10px;
}
#rece > div > a > p {
  margin-left: 10px;
  color: #0066ee;
  font-weight: bold;
  margin-bottom:10px;
}
#rece > div > a > img {
  width: 100%;
}

#connect {
  width: 45%;
  text-align: center;
  margin: auto;
  margin-top: 8%;
}
#connect > h1 {
  font-size: 60px;
}
#connect > p {
  line-height: 22px;
  font-size: 20px;
}
#circle {
  width: 50%;
  margin: auto;
  margin-top: 12%;
}
#circle > img {
  width: 100%;
}
#paragraph {
  width: 60%;
  margin: auto;
  margin-top: 5%;
  text-align: center;
  color: gray;
  font-size: 13px;
  line-height: 18px;
}

/* footer css added */
#MainContainer {
  display: flex;
  width: 100%;
  background-color: #f6f6f8;
  padding: 15px;
}

#leftContainer {
  flex: 75%;
}

#rightContainer {
  flex: 25%;
}

#rightContainer > select {
  margin-left: 50%;
}

#line1 {
  display: flex;
  margin-left: 30%;
  justify-content: space-between;
}

#line1 > div {
  font-weight: bold;
  cursor: pointer;
}

#line2 {
  display: flex;
  margin-left: 40%;
  margin-right: 10%;
  margin-top: 2%;
  justify-content: space-between;
}

#line2 > div,
#line3 > div {
  font-weight: lighter;
  font-size: 11px;
  color: blueviolet;
  cursor: pointer;
}

#line3 {
  display: flex;
  margin-left: 50%;
  margin-right: 20%;
  margin-top: 1%;
  justify-content: space-around;
}

#copyright {
  margin-left: 60%;
  margin-right: 28%;
  margin-top: 2%;
  font-size: 11px;
}



/* Styles for small devices (up to 767px) */

@media screen and (max-width: 570px) {
  /* CSS rules for small devices */
  body {
    font-size: 14px;
  }
  #navbar {
    width: 90%;
  }
  #navbar img {
    width: 35%;
  }
  #navbar a:nth-child(2){
    width:20%;
  }
  #goodhealth{
    display:block;
    text-align:left
  }
  #goodhealth > div:nth-child(2){
    width:90%;
    height:90%;
    margin-top:2rem;
  }
  #goodhealth > #leftgoodhealth > h1 {
    font-size: 2rem;
    
  }
  #goodhealth > #leftgoodhealth > p {
    line-height: 1.5rem;
    width: 90%;
  }
  #goodhealth img{
    width:90%
  }
  #blueberries img{
    width:90%;
    margin-left:5%
  }
  #goodhealth > #leftgoodhealth > button {
    border: 0px;
    font-size: 1rem;
    width: 97%;
    height: 50px;
    border-radius: 5px;
    font-weight: bold;
  }

  #blueberries {
    width: 100%;
    border: 0px solid rgb(241, 239, 239);
    display:flex;
    flex-direction:column-reverse;
    margin: auto;
    text-align:left;
  }
  #blueberries > div {
    width:90%;
  }
  #blueberries>div:nth-child(2){
    width:75%;
    margin:auto;
  }
  #blueberries > #blueberriesright > h1 {
    font-size: 2rem;
    width:95%
  }
  #blueberries > #blueberriesright > p {
    line-height: 1.5rem;
    width: 90%;
  }
  #tools {
    width: 75%;
    margin-top:3rem;
    text-align:left;
  }
  #learn {
    display: block;
    width: 80%;
    height: 550px;
  }
  #victory {
    width: 80%;
    margin-top:4rem
  }
  #victory > h1 {
    font-size: 2rem;
  }
  .swiper {
    width: 90%;
    height:350px;
    margin-top:15%;
    /* border: 1px solid green; */
  }
  .swiper-wrapper{
    padding:0px 10px;
    
  }
  #startbutton {
    font-size: 15px;
    width: 85%;
    margin-left:6%;
  }
  #recipes {
    width: 90%;
    text-align: left;
    margin: auto;
    margin-left:6%;
    margin-top: 8%;
  }
  #recipes > h1 {
    font-size: 2rem;
  }
  #rece {
    width: 95%;
    margin: auto;
    margin-top: 8%;
    display: block;
    gap:1rem;
  }
  #rece > div {
    width: 95%;
    margin: auto;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  #connect {
    width: 90%;
    text-align: left;
    margin-left:6%;
  }
  #connect > h1 {
    font-size: 2rem;
  }
  #circle {
    width: 80%;
  }
  #paragraph {
    width: 85%;
    margin: auto;
    margin-top: 7%;
  }
  #MainContainer {
    display: block;
    width: 85%;
    background-color: #f6f6f8;
    margin:auto;
    padding: 1rem 15px;
  }
  
  #rightContainer > select {
    display:none;
  }
  
  #line1 {
    display: none;

  }

  #line2 {
    display: flex;
    margin-top: 2%;
    width:100%;
    margin-left:0%;
  }
  #line2 div:nth-child(5)~div{
    display:none;
  }
  #line3 {
    display: flex;
    margin:auto;
    margin-top:2%;
    width:90%;
    justify-content: space-around;
  }
  #copyright {
    width:100%;
    text-align:center;
    font-size: 11px;
    margin-left:0;
    margin-right:0;
    margin:8%;
    margin-left: 0;
    margin-right: 0;
  }
}
/* Styles for medium devices (768px to 1023px) */
@media screen and (min-width: 561px) and (max-width: 900px) {
  /* CSS rules for medium devices */
  body {
    font-size: 16px;
  }
  #navbar {
    width: 90%;
  }
  #navbar img {
    width: 35%;
  }
  #navbar a:nth-child(2){
    width:20%;
  }
  #goodhealth{
    display:block;
  }
  #leftgoodhealth{
    text-align:center;
  }
  #goodhealth > #leftgoodhealth > h1 {
    font-size: 2.5rem;
    text-align:center
  }
  #goodhealth > #leftgoodhealth > p {
    line-height: 1.5rem;
    text-align:center;
    width: 95%;
  }
  #blueberries{
    display:block;
    width:80%
  }
  #goodhealth > div:nth-child(2){
    width:90%;
    height:90%;
    margin-top:1rem;
    
  }
  #goodhealth > #leftgoodhealth > button {
    border: 0px;
    font-size: 1rem;
    width: 75%;
    height: 50px;
    border-radius: 5px;
    font-weight: bold;
  }
  #goodhealth img{
    width:95%
  }
  #blueberries {
    width: 90%;
    display:flex;
    flex-direction:column-reverse;
  }
  #tools {
    width: 80%;
  }
  
  #blueberries > #blueberriesright > h1 {
    font-size: 2.5rem;
    width:90%;
    text-align:center
  }
  #blueberries > #blueberriesright > p{
    line-height: 1.5rem;
    text-align:center;
    width: 95%;
  }
  #victory {
   margin-top:3rem;
    width: 80%;

  }
  #victory > h1 {
    font-size: 2.5rem;
  }
  .swiper {
    width: 90%;
    height:350px;
    margin-top:10%;
    /* border: 1px solid green; */
  }
  .swiper-wrapper{
    padding:0px 20px;
    
  }
  #startbutton {
    font-size: 17px;
    width: 70%;
    margin-left:18%;
  }
  #recipes {
    width: 70%;
    text-align: center;
    margin: auto;
    margin-top: 8%;
  }
  #recipes > h1 {
    font-size: 2rem;
  }
  #rece {
    width: 95%;
    margin: auto;
    margin-top: 8%;
    display: flex;
    gap:1rem;
  }
  #rece > div {
    width: 95%;
    margin: auto;
    border-radius: 10px;

    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  #connect {
    width: 70%;
    text-align: center;
  }
  #connect > h1 {
    font-size: 2.5rem;
  }

  #circle {
    width: 90%;
  }
  #paragraph {
    width: 90%;
    margin: auto;
    margin-top: 6%;
  }
  #MainContainer {
    display: block;
    width: 90%;
    background-color: #f6f6f8;
    margin:auto;
    padding: 1.5rem 1rem;
  }
  #rightContainer {
    margin-top:-6%;
  }
  
  #rightContainer > select {
    margin-left: 40%;
  }
  
  #line1 {
    display: flex;
    margin-left: 0%;
    justify-content: space-between;
  }

  #line2 {
    display: flex;
    margin-top: 2%;
    width:100%;
    margin-left:0%;
  }
  #line3 {
    display: flex;
    margin:auto;
    margin-top:2%;
    width:70%;
    justify-content: space-around;
  }
  #copyright {
    margin-top: 5%;
    width:100%;
    text-align:center;
    font-size: 11px;
    margin-left:0;
    margin-right:0;
  }
}

/* Styles for large devices (1024px and above) */
@media screen and (min-width: 900px) and (max-width: 1300px) {
  /* CSS rules for large devices */
  body {
    font-size: 18px;
  };
  #goodhealth {
    width: 95%;
   
  }
  #goodhealth > div {
    border: 0px solid rgb(226, 224, 224);
    width: 100%;
    height: 100%;
  }
  #goodhealth > div:nth-child(1){
    width:50%;
   
  }
  #goodhealth > div:nth-child(2){
    width:50%;
   
  }
  #goodhealth img{
    width:100%;
    margin-top:10%;
   
  }
  #MainContainer {
    display: block;
    width: 90%;
    background-color: #f6f6f8;
    margin:auto;
    padding: 2.8rem 1rem;
  }
  #rightContainer {
    margin-top:-6%;
  }
  
  #rightContainer > select {
    margin-left: 40%;
  }
  
  #line1 {
    display: flex;
    margin-left: 0%;
    justify-content: space-between;
  }

  #line2 {
    display: flex;
    margin-top: 2%;
    width:100%;
    margin-left:0%;
  }
  #line3 {
    display: flex;
    margin:auto;
    margin-top:2%;
    width:70%;
    justify-content: space-around;
  }
  #copyright {
    margin-top: 5%;
    width:100%;
    text-align:center;
    font-size: 11px;
    margin-left:-2rem;
    margin-right:0;
  }

}








