body{
    margin:0
}
#nav{
    display:flex;
    justify-content:space-around;
    height:100px;
    align-items:center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
#nav img{
    cursor: pointer;
}
#nav>div:nth-child(2){
    display:flex;
    list-style:none;
    gap:10px;
}
#nav li{
    color:#0066EE;
    cursor:pointer;
    font-family:Inter,Helvetica,Arial,-apple-system ;
    font-size:14.4px;
}

#nav span{
    color:grey
}
#nav img{
    width:80px;
    height:80px;
}
#nav+div li{
    padding:13px 18px;
    text-align:center;
    cursor:pointer;
    
}
#nav+div{
      display:flex;
      height:42px;
      align-items:center;
      list-style:none;
      
      padding-left:20%;
      background-color:#0066EE;
      color:#ffffff;
      font-family:Inter,Helvetica,Arial,-apple-system ;
      font-weight:bold;
      font-size:13px;
}
#nav+div li:hover{
    background-color:#005977;
    padding:14px 18px;
    text-align:center;
    cursor:pointer;
}
h1{
    font-size:20px;
    color:#000000DE;
    font-family:Inter,Helvetica,Arial,-apple-system ;
    text-align:center;
}

#login{
    width:28%;
    margin:auto;
    margin-top:40px;
    font-family:Inter,Helvetica,Arial,-apple-system ;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius:15px;
    height:420px;
    padding:30px;
}

form input{
    width:80%;
    height:50px;
    margin:0px 30px;
    margin-top:20px;
    margin-right:33px;
    border-radius:5px;
    border:1px solid grey;
    padding:0px 15px;
}
input:hover{
    border:#005977 1px solid;
    height:50px;
    cursor:pointer;
}
form span{
    color:#0066EE;
    margin-left:30px;
    font-family:Inter,Helvetica,Arial,-apple-system ;
    font-weight:bold;
   
}
#login img{
    width:380px;
    height:50px;
    margin-left:30px;
}

h3{
   text-align:center;
   font-size:16px;
   font-family:Inter,Helvetica,Arial,-apple-system ;
}
button{
    width:88%;
    height:48px;
    border-radius:4px;
    background-color:#0066EE;
    color:white;
    border:0px;
    margin-left:30px;
    cursor: pointer;
    font-size:15px;
    margin-top:20px;
    font-family:Inter,Helvetica,Arial,-apple-system ;
      font-weight:bold;
}
button:hover{
    background-color:#0046a1;
}
h2{
    color:#00000099;
    font-family:Inter,Helvetica,Arial,-apple-system ;
    font-size:14px;
    text-align:center;
}
h2>span{
    color:#0066EE;
    font-family:Inter,Helvetica,Arial,-apple-system ;
    font-size:14px;

}

#bottom>a>div{
    display:grid;
}

input:hover{
    border-color:#227251;
    border:2px solid #227251;
}
#footer{
    width:100%;
    height: 100px;
    background-color:rgb(236, 235, 235);
    margin-top:30px;
    align-items:center;
   padding-top:20px;
}
#footer>p{
    text-align:center;
    font-size:12px;
    color:#0066EE;
    padding:8px
}
#footer p:nth-child(2){
    color:#000000DE;
    font-size:11px;
}
p>span{
    padding:10px;
}
span:hover{
    cursor:pointer;
}
select{
    width:100px;
}
a{
    text-decoration-line: none;
}




