body{
    margin:0
}
#nav{
    display:flex;
    justify-content:space-around;
    height:100px;
    align-items:center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;   
}
#nav a{
    text-decoration-line: none;
}
#nav>div:nth-child(2){
    display:flex;
    list-style:none;
    gap:10px;   
}
#nav li{
    color:#0066EE;
    cursor:pointer;
    font-family:Inter,Helvetica,Arial,-apple-system ;
    font-size:18.4px; 
}
#nav span{
    color:grey
}
#nav img{
    width:40%;
}
#welcome{
    width:27%;
    margin:auto;
    margin-top:40px;
    font-family:Inter,Helvetica,Arial,-apple-system ;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border-radius:15px;
    height:430PX;;
    padding:30px;
    padding:7% 3%;
    
}
h1{
    width:85%;
    text-align:center;
    margin:auto;
    margin-top:100px;
    font-family:Inter,Helvetica,Arial,-apple-system ;
    font-size:24.3px;
    font-weight:bold;
}
button{
    width:88%;
    height:48px;
    border-radius:4px;
    background-color:#0066EE;
   color: aliceblue;
    border:0px;
    margin-left:30px;
    cursor: pointer;
    font-size:15px;
    margin-top:20px;
    font-family:Inter,Helvetica,Arial,-apple-system ;
      font-weight:bold;
}
button:hover{
    background-color:#0046a1;
}


#footer{
    width:100%;
    height: 100px;
    background-color:rgb(236, 235, 235);
    margin-top:30px;
    align-items:center;
   padding-top:20px;
}
#footer>p{
    text-align:center;
    font-size:12px;
    color:#0066EE;
    padding:8px
}
#footer p:nth-child(2){
    color:#000000DE;
    font-size:11px;
}
p>span{
    padding:10px;
}
span:hover{
    cursor:pointer;
}
select{
    width:100px;
}
a{
    text-decoration-line: none;
}